.main-home {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 2.15vh;
}

.main-home__img {
    display: flex;
    width: 70vw;
}


@media all and (max-width: 430px) {
    .main-home__img {
        width: 90vw;
        height: 30vh;
        object-fit: cover;
        border-radius: 10px;
    }

    .main-home__text {
        width: 60vw;
        text-align: center;
    }
}

@media all and (max-width: 999px) and (min-width: 431px) {
    .main-home__img {
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        border-radius: 10px;
    }
}