@media all and (max-width: 430px) {

    header {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 10vh 0px;
        justify-items: center;
        align-items: center;
    }

    .header__logo {
        height: auto;
        width: 75%;
    }

    .nav__links {
        column-gap: 10%;
        font-size: 2vh;
        justify-content: center;
    }

    .social-media__btn {
        color: #FFFFFF;
        border: none;
        font-family: "Ubuntu";
        border-radius: 20px;
        background-color: #1351D8;
        width: 70px;
        height: 4vh;
        font-weight: 500;
        overflow: hidden;
        padding: 5px;
        line-height: 3vh;
    }

    .social-media__links {
        width: 70px;
        height: 20vh;
        gap: 10%;
        align-items: center;
        justify-content: center;
        display: none;
        flex-direction: column;
        bottom: 100%;
        position: absolute;
        background-color: #1351D8;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        border-radius: 10px 10px 0 0;
    }

    .social-media__links>a,
    .social-media__links>a>img {
        display: flex;
        height: 4vh;
        width: 4vh;
    }
}