@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark-blue: #1B357E;
    --blue: #1351D8;
    --blue-hover: #3573FA;

    --main-font: "Ubuntu", "Sans Serif"
}

button:active:not(button:disabled),
a:active {
    scale: 0.95;
}

button:focus-visible {
    outline: none;
}

button:hover:not(button:disabled) {
    cursor: pointer;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 10vh 0px;
    justify-items: center;
    align-items: center;
}

.header__logo {
    height: 70%;
}

.nav__links {
    display: flex;
    column-gap: 20%;
    font-size: 2.5vh;
}

.nav__links>a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 400;
    transition: scale 0.5s, margin 0.5s;
}

.nav__links>a:hover {
    scale: 1.1;
    margin: 0px 5px;
}

footer {
    box-sizing: border-box;
    width: 100%;
    grid-template-rows: 10vh 0px;
    padding: 0px 2vw;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
}

.footer__social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.social-media__btn {
    color: #FFFFFF;
    border: none;
    font-family: var(--main-font);
    background-color: var(--dark-blue);
    font-weight: 400;
    font-size: 2vh;
}

.social-media__links {
    display: flex;
    flex-direction: row;
}

.social-media__links>a {
    display: flex;
    height: 4vh;
    width: 4vh;
    transition: scale 0.5s, margin 0.5s;
}

.social-media__links>a:hover {
    scale: 1.1;
    margin: 0px 5px;
}

.footer__text {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.75vh;
}

.footer__logo {
    grid-column: 3;
    height: 40%;
    justify-self: flex-end;
}